<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{ message }}
        <span v-if="seen">Now you see</span>

        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <button v-on:click="reserveWord">Reserve word</button>
    </div>

    <div id="test">
        {{ test  }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title123123123123123!
        </span>
    </div>

    <script src="index.js"></script>
</body>

</html>
